body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 0%;
}

.navbar {
    background-color: #eaeaea;
    padding: 1% 5%;
}

.navbar-brand {
    font-weight: 700;
    color: #56026d;
}

.nav-link {
    font-weight: 600;
    color: #56026d;
}

#title {
    background-color: #eaeaea;
    padding: 10% 15% 3% 15%;
}

h1 {
    color: #56026d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-bottom: 5%;
}

.title-content-p {
    color: #56026d;
    padding-bottom: 5%;
}

.btn {
    font-weight: 600;
}

.iphone-img {
    width: 90%;
    position: relative;
    bottom: 6rem;
    padding-left: 15%;
}

.col1 {
    padding-bottom: 20%;
}

#features {
    background-color: #56026d;
    color: #ffffff;
    padding: 5% 20%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.feature-icon {
    padding: 15%;
    color: #fff;
    cursor:pointer;
    transition: all 0.4s ease 0s;
}

.feature-icon:hover {
    color: #ff7acc;
}

/* Tertimonials Section */

.testimony-header {
    font-weight: 800;
    padding-bottom: 3%;
}

.carousel-item {
    background-color: #fff;
    color: #56026d;
    text-align: center;
    padding: 25% 25% 5% 25%;
}

.col-sp {
    padding: 10%;
}

.img-sponsor {
    width: 100%;
}

#pricing {
    background-color: #56026d;
    color: #fff;
}