body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 0%;
}

.navbar {
    background-color: #eaeaea;
    padding: 1% 5%;
}

.navbar-brand {
    font-weight: 700;
    color: #56026d;
}

.nav-link {
    font-weight: 600;
    color: #56026d;
}

#title {
    background-color: #eaeaea;
    padding: 10% 15% 3% 15%;
}

h1 {
    color: #56026d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-bottom: 5%;
    cursor:pointer;
    transition: all 0.4s ease 0s;
}

h1:hover {
    color: #f32ba7;
}

.title-content-p {
    color: #56026d;
    padding-bottom: 5%;
}

.btn {
    font-weight: 600;
}

.iphone-img {
    width: 90%;
    position: relative;
    bottom: 6rem;
    padding-left: 15%;
}

.col1 {
    padding-bottom: 20%;
}

#features {
    background-color: #56026d;
    color: #eaeaea;
    padding: 5% 20%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.feature-icon {
    padding: 15%;
    color: #fff;
    cursor:pointer;
    transition: all 0.4s ease 0s;
}

.feature-icon:hover {
    color: #ff7acc;
}

/* Tertimonials Section */

.testimony-header {
    font-weight: 800;
    padding-bottom: 3%;
}

.client-img {
    border-radius: 100%;
    padding: 5%;
    width: 50%;
    margin-bottom: 5%;
    border: 1rem dotted #56026d
}

.carousel-item {
    background-color: #fff;
    color: #56026d;
    text-align: center;
    padding: 10% 25% 10% 25%;
}

.col-sp {
    padding: 10%;
}

.img-sponsor {
    width: 100%;
}

.sponsor {
    width: 100%;
}

#pricing {
    background-color: #56026d;
    color: #fff;
    padding: 8% 10%;
}

.plan-col {
    padding: 0 0 3% 0;
}

.plan-title {
    font-weight: 200;
    font-size: 2.5rem;
}

.card {
    width: 20rem;
    text-align: center;
    color: #444;
    cursor:pointer;
    transition: all 0.4s ease 0s;
    margin-right: 50px;
}

.card-header {
    padding: 5% 15%;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
}

.card:hover {
    transform: scale(1.1);
}

.card-price {
    font-weight: 800;
    font-size: 2.5rem;
}

.card-ul {
    list-style: none;
    padding: 10%;
}

.card-body {
    padding: 10% 10%;
}

.btn-price {
    padding: 5% 15%;
}

#footer {
    background-color: #56026d;
    color: #fff;
    padding: 3% 10%;
    text-align: center;
  
}


.footer-links {
    display: flex;
    justify-content: center;
    
}

.flink {
    color: #eaeaea;
    text-decoration: none;
    font-weight: 800;
    cursor:pointer;
    transition: all 0.4s ease 0s;
}

.flink:hover {
    color: #ff7acc;
}